@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: Scriptina KT;
    src: url('../font/UTM Scriptina KT.ttf');
}
body{
	margin: 0px;
	padding: 0px;	
	font-family: "Open Sans",sans-serif;
    font-size: 14px;
    line-height: 1.85714;
    color: #808080;
    background-color: #fff;
    font-weight: 300;
}
main{
	margin: 0 auto;
	width: 100%;
	height: auto;
}
header{
	width: 100%;
	height: 110px;
}
nav{
	width: 100%;
	height: 110px;
	margin: 0 auto;
	background-color: white;
	position: fixed;
	z-index: 2;
}
.logo{
	margin-top: 38px;
	float: left;
}
.logo img{
	margin-left: 70px;
}
.menu{
	width: auto;
	height: auto;
	float: right;
	margin-top: 38px;
	margin-right: 70px;
	
}
ul#sub1, ul#sub2{
	list-style: none;
	margin: 0px;
	padding: 0px;
	color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
	background-color: white;
}
#sub1 li{
	position: relative;
	float: right;
	padding-top: 5px;
	width: 125px;
	height: 30px;
	text-align: center;
	transition: 3s all ease;
	padding-bottom: 20px;
	
}

#sub2 li{
	text-align: left;
	text-transform: none;
    background-color: white;
	padding-bottom: 20px;
	
}
#sub2 li:first-child{
	margin-top: 20px;
}
#sub1 li a{
	color: black;
	text-decoration: none;
	

}

ul#sub2 {
	display: none;
}
#sub1 li a:hover{
	color:red;
}

ul#sub1 li:hover ul#sub2{
	display: block;
}
section#banner{
	width: 100%;
	height: 658px;
	background-color: azure;
	margin:  0 auto;
	background-image: url(../images/bg-image-1.jpg);
}
.thongtin{
	width: 1200px;
	height: 500px;
	margin: 0 auto;
}
.chu{
	width: 400px;
	height: 300px;
	float: left;
	margin-top: 120px;
}
.chu h3 {
    letter-spacing: 0.1em;
	color: white;
	line-height: 1.16667;
    font-size: 36px;
	margin-top: 0;
    margin-bottom: 0;
}
.chu h1{
	color: white;
	line-height: 1.12;
    font-size: 50px;
	margin-top: 0;
    margin-bottom: 0;
}
p.chunho{
	font-size: 17px;
    font-weight: 400;
    line-height: 26px;
	color: white;
}
.button{
    padding: 17px 23px;
    font-size: 14px;
    line-height: 24px;
    border-radius: 0;
    border-width: 1px;
	border: 1px solid white;
	color: white;
	margin-top: 20px;
	transition: 250ms all ease-in-out;
	float: left;
}
a.button{
	text-decoration: none;
}
.button:hover{
	background-color: red;
	border-color: red;
}
section#info{
	width: 100%;
	height: 213px;
	margin-top: -93px;
}
.our{
	width: 1200px;
	height: 213px;
	margin: 0 auto;
	background-color: #fff;
    box-shadow: 0 0px 7px 0 rgba(0,0,0,0.13);
}
.thong{
	width: 398px;
	height: 213px;
	float: left;
	border: 1px dotted gray;
}
.thong h6{
	line-height: 1.33333;
    font-size: 18px;
	font-weight: 600;
	color: #0d0d0d;
	text-align: center;
	margin-bottom: 0;
	margin-top: 20px;
}
.divider {
    margin-bottom: 0;
    border-top: 1px solid #ff4646;
	width: 36px;
    border-width: 2px;
}
ul#marked{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
	display: block;
	margin-left: 100px;
	font-weight: 600;
	font-size: 15px;
	line-height: 2.5;

}
#marked{
	margin-top: 25px;
	
}
section#giua{
	width: 100%;
	height: 630px;
	padding-top: 70px;
    padding-bottom: 80px;
	
}
.sell{
	width: 1200px;
	height: 607px;
	margin: 0 auto;
	
}
p {
    margin: 0 0 10px;
}
.sell h3{
	color: black;
	line-height: 1.16667;
    font-size: 36px;
	margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}
.subtitle{
	font-size: 17px;
    line-height: 26px;
    font-weight: 400;
	text-align: center;
	margin-top: 17px;
}
.anh{
	width: 1200px;
	height: 446px;
	margin-top: 50px;
}
.trai{
	width: 600px;
	height: 446px;
	float: left;
}
.tow{
	width: 600px;
	height: 396px;
	margin-top: 50px;
}
.phai{
	width: 600px;
	height: 396px;
	float: right;
	margin-top: 50px;
}
.cellid{
	width: 195px;
	height: 143px;
	float: left;
}
.link{
	text-decoration: none;
	text-align: center;
	color: black;
	font-size: 17px;
    font-weight: 600;
	margin-left: 15px;
	
}
.icon img{
	width: 92px;
    height: 92px;
    text-align: center;
	border-radius: 50%;
	margin-top: 10px;
}

.icon:hover img{
	color: #fff;
    background-color: #3470af;
    box-shadow: 0 0 0 10px #c5d5e6;
	transition: 250ms ease-in;
}
section#md{
	width: 100%;
	height: 480px;
	padding-top: 20px;
    padding-bottom: 30px;
	background: #3470af;
}
.button2{
    padding: 17px 23px;
    font-size: 14px;
    line-height: 24px;
    border-width: 1px;
	border: 1px solid #424242;
	color: #424242;
	margin-top: 30px;
	margin-left: 140px;
	transition: 250ms all ease-in-out;
	float: left;
}
a.button2{
	text-decoration: none;
}
.button2:hover{
	background-color: red;
	border-color: red;
}
.button3{
    padding: 17px 23px;
    font-size: 14px;
    line-height: 24px;
    border-width: 1px;
	border: 1px solid #424242;
	color: black;
	margin-top: 60px;
	margin-left: 60px;
	transition: 250ms all ease-in-out;
}
a.button3{
	text-decoration: none;
}
.button3:hover{
	background-color: red;
	border-color: #ff4646;
}
#cangiua{
	width: 100%;
	height: 417px;
	margin: 0 auto;
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
h3#about{
	text-align: center;
	margin-top: 0;
	color: #fff;
	line-height: 1.16667;
    font-size: 36px;
	margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 300;
}
section#giua22{
	width: 1200px;
	height: 325px;
	margin: 0 auto;
	margin-top: 50px;
}
section#we{
	width: 500px;
	height: 325px;
	float: left;
}
section#san{
	width: 600px;
	height: 325px;
	float: right;
}
h6#wee{
	line-height: 1.33333;
    font-size: 18px;
	font-weight: 600;
	color: white;
	text-align: center;
	margin-bottom: 0;
	margin-top: 20px;
	text-align: left;
}
p#tt{
	color: white;
	margin-top: 25px;
	margin: 0 0 10px;
	display: block;
}
section#team{
	width: 100%;
	height: 400px;
	
}
section#sell{
	width: 1200px;
	height: 400px;
	margin: 0 auto;
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
	z-index: 1;
}
#sell h3{
	text-align: center;
	margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 300;
    color: #0d0d0d;
	line-height: 1.16667;
    font-size: 36px;
}
#sell33 h3{
	text-align: center;
	margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 300;
    color: #0d0d0d;
	line-height: 1.16667;
    font-size: 36px;	
}
.kieu2{
	float: left;
	width: 270px;
	height: 274px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 50px;
	text-align: center;
}

.anha {
    padding-bottom: 100px;
	position: relative;
    overflow: hidden;
}

.anha .caption {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateY(52px);
    transition: 250ms ease-in;
	background-color: #f8f8f8;
}

.anha .caption>.link {
    opacity: 0;
	display: block;
    padding-top: 15px;
    margin-top: 13px;
    border-top: 1px solid #d7d7d7;
}


.anha:hover .caption {
    transform: translateY(0);
}

.anha:hover .caption>.link {
    opacity: 1;
}


section#sanpham{
	width: 100%;
	height: 520px;
}
section#sell33{
	width: 1200px;
	height: 511px;
	margin: 0 auto;
}
.spp{
	width: 1200px;
	height: 419px;
	margin-top: 30px;
}
.sp{
	width: 300px;
	height: 374px;
	float: left;
}
.sp:hover{
	box-shadow: 0 0 5px rgba(0,0,0,0.19);
	background-color: white;
}
.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f8f8f8;
    width: 155px;
    height: 155px;
    margin-left: auto;
    margin-right: auto;
    transition: 250ms ease-in;
	margin-top: 40px;
	transform: scale(1);
}
.wrap:hover{
	
	transform: scale(1.2);
}
.sp h6{
	color: black;
	text-align: center;
	font-weight: 400;
	line-height: 1.33333;
    font-size: 18px;
	text-transform: uppercase;
}
.nguoi{
	width: 600px;
	height: 570px;
	float: left;
	margin-top: 40px;
	
}
.chu22{
	width: 600px;
	height:540px;
	float: left;
	margin-top: 70px;
}

.foo{
	width: 1349px;
	height: auto;
	margin: 0 auto;
}


	

